<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configurar</title>
</head>
<body>

    {% if imagem_existe %}
    <form enctype="multipart/form-data" method="get">
        <img src="{{ imagem_existe.atributo_imagem.url }}" width="100" height="100"/>
        <img src="{{ imagem_existe_temp.atributo_imagem_temp.url }}" width="100" height="100"/>
        <p>São iguais?</p>
        <input type="submit" name="sim" value="sim">
        <input type="submit" name="nao" value="nao">
    </form>




    {% else %}


    <form enctype="multipart/form-data" method="post">




        {% csrf_token %}
        {{ form_imagem.atributo_imagem}}
        {{ form_imagem.categoria}}




        <input type="submit" value="Salvar" />



    </form>



    {% endif %}

</body>
</html>